

html,body{ 
	width:100%;
	height:100%;
	background:#fff;
}




/* ---- particles.js container ---- */
#particles-js{
  width: 100%;
  height: 100%;
  background-color: #fff;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
