#main
{
position:absolute;
   
    top:0;
    
    

}
#typing
{
    font-family: sans-serif;
    color:white;
    font-weight: bold;
    font-size: 70px;
    text-align: center;
    margin-top: 193px;
    width:500px;
    height:500px;
}