/* =====================
   desktop
   min-width: 768px;
   max-width: 1024px;

===================== */

@media (min-width: 1024px) {
    #features {
        margin-top: 8%;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
  #latest-work .block .recent-work-pic ul li .overlay {
    top: 12px;
    left: 25px;
    bottom: 12px;
    right: 25px;
  }
  #team .team-overlay {
    padding: 10px;
  }
}
@media (min-width: 750px) and (max-width: 768px) {
    .navbar-brand{
        margin-left: -13px;
    }
}


/* =====================

   Tablets
   min-width: 640px;
   max-width: 767px;

===================== */

@media (min-width: 640px) and (max-width: 767px) {
  #team .col {
    padding: 0 137px;
    margin-bottom: 20px;
  }
  #pricing-table .col {
    margin-bottom: 20px;
  }
  #contact-form .col {
    margin-bottom: 20px;
  }

  #blog-left .blog-img .col-md-6 img{
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
    .navbar-brand{
        margin-left: 6px;
    }
    .navbar-toggle{
        margin-right: 25px;
    }
}

/* =====================

   Small Devices
   min-width: 320px;
   max-width: 479px;

===================== */
@media (max-width: 375px) {
    .title h2:after {
        content: '';
        width: 40px;
        height: 2px;
        background: #ff7600;
        position: absolute;
        top: 15px;
        right: -56px;
    }
}
@media (max-width: 360px) {
    .title h2:after {
        content: '';
        width: 32px;
        height: 2px;
        background: #ff7600;
        position: absolute;
        top: 15px;
        right: -50px;
    }
}
@media (max-width: 350px) {
    footer div#bottom-line{
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 0;
    }
    .title h2:after {
        content: '';
        width: 30px;
        height: 2px;
        background: #ff7600;
        position: absolute;
        top: 15px;
        right: -43px;
    }
}
@media (max-width: 340px) {
    .title h2:before {
        content: '';
        width: 15px;
        height: 2px;
        background: #ff7600;
        position: absolute;
        top: 15px;
        left: -30px;
    }
    .title h2:after {
        content: '';
        width: 15px;
        height: 2px;
        background: #ff7600;
        position: absolute;
        top: 15px;
        right: -30px;
    }
}
@media (min-width: 320px) and (max-width: 479px) {
  #banner {
    text-align: center;
  }
  #banner .block .buttons a:first-child {
    margin-left: 7px;
    margin-bottom: 10px;
  }
  #latest-work .block .recent-work-mixMenu ul li {
    display: block;
  }
  #latest-work .block .recent-work-pic ul li .overlay {
    top: 5px;
    left: 20px;
    bottom: 5px;
    right: 20px;
  }
  #latest-work .block .recent-work-pic ul li .overlay h3 {
    font-size: 14px;
  }
  #latest-work .block .recent-work-pic ul li .overlay i {
    top: 34%;
    font-size: 23px;
  }
  #testimonial .col {
    padding: 20px;
    text-align: center;
  }
  #testimonial .media .media-left {
    display: block;
    padding-right: 0;
  }
  #testimonial .media .media-left a {
    height: 78px;
    width: 78px;
    margin: 0 auto;
  }
  #testimonial .media .media-body {
    padding-right: 0;
  }
  #team .col {
    margin-bottom: 20px;
  }
  #pricing-table .col {
    margin-bottom: 20px;
  }
  #contact-form .col {
    margin-bottom: 20px;
  }

  #blog-left .block .blog-comment .comment-img,
  #blog-left .blog-comment-main .blog-comment .comment-img,
  #blog-left .blog-comment-main .sub-blog-comment .comment-img{
    float: none;
  }

  #blog-left .blog-comment-main .sub-blog-comment{
    margin-left: 0;
  }

  #blog-left .blog-img .col-md-6 img{
    margin-bottom: 20px;
  }

}
@media (max-width: 768px) {
    .new{
        margin-top: 17px;
    }
    .new1{
        margin-top: 17px;
        margin-bottom: 20px;
    }
}
@media (max-width: 600px) {
    .img-responsive{
    }
}
